<h1>New Patient </h1>

<%= form_for @patient do |f| %>
  <%= f.text_field :name, placeholder: 'Patient Name' %>
  <%= f.text_field :age, placeholder: 'Patient Age' %>
  <%= f.button "Enroll Patient", type: :submit %>

<% end %>
