// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appointment_container {
  // margin: 2em;
  width: 80vw;
  text-align: center;
  border: .5em solid rgb(234,249,217);
  border-radius: .6em;
  background-color: rgba(163,201,168, .4);
}

#logo_img {
  width: 10vw;
  height: 10vh;
}

#nav_img {
  width: 13vw;
  height: 9vh;
}

nav {
  // background-color: rgb(234,249,217);
  display: flex;
  background-color: white;
  // width: 100%;
  height: 8vh;
  padding: 1em;
  margin: 2em;
}

#search_input {
  margin-top: 3em;
  margin-right: 3em;
  border-width: thick;
  padding: .2em;
  width: 15em;
  height: 2em;
  font-size: .8em;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: center;
}

.appointment_content {
  display: flex;
  justify-content: space-around;
  margin: .5em;
  padding: 6px;
  width: 30vw;
  border: 1px dashed black;
}


.appointment_info {
  width: 50vw;
}

.buttons {
  width: 50vw;
}

a {
  cursor: pointer;
}
