<h1>Your Appointment</h1>

  <p><%= @appointment.date %></p>
  <p><%= @appointment.notes %></p>

  <% @doctors.each do |doctor| %>
    <%= doctor.name  %>
  <% end %>

<%= link_to 'Back', appointments_path %>
